@import url(font.css);

body{
    background-color: white;
    
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight:normal;
}

.conbox{ 
   
  position:relative;
    width: 95%;
    max-width: 1500px;
    margin: auto;
    xaspect-ratio: 1/2;
    height:95vw;
   max-height:1500px;
  
  }
p{
  font-size:1.2rem;
}
.words
{
  max-width:50rem;
  font-size:1.2rem;
}
.xa{
  white-space: pre;
}
.wordbox{
  position:relative;
  height: 50%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.photobox{ 
   
  position:relative;
    width: 95%;
    max-width: 1400px;
    margin: auto;
    xaspect-ratio: 1/2;
    height:95vw;
   max-height:1500px;
   
  
}

.cv-table td:first-child{
padding-right: 1rem;

min-width: 8rem;
text-align: right;
vertical-align: top;

}

.cv-table td{
padding-bottom: .5rem;
line-height: 1.5rem;
}


.player-wrapper {
  position: relative;
  max-width:1200px;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin: auto;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}


.photobox img{
    position: absolute;
    transition: all 1s;
    border: .3rem solid transparent;
}
.photobox img:hover{
    z-index:1;
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    cursor: pointer;
    border: .3rem solid white;
}


.outerbox{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
   

}
.page-title {
    position: absolute;
    top:1rem;
    left:0;
    width:100%;
    text-align: center;
    z-index:100;
 
    pointer-events: none;
}

.bovvers {
    overflow-y: scroll;
   
}
.bovvers::-webkit-scrollbar{
    display: none;
}

.bovves {
    -ms-overflow-style: none;
    scrollbar-width:none;
}

.blurb{
  padding-left: 1rem;
  padding-right: 1rem;
  xpadding-bottom: 5rem;
  xmax-width:50rem;
  xmargin:auto;
 
}
.blurb p{
  font-size:1.5rem; 
}

.slidebox {
  max-width:100%;
  max-height:100%;
  object-fit:contain;
  display:block;
}

.carousel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 200;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  bottom: 0;
  align-items: end;
  padding: 1rem;
}

.carousel-control-next {
  justify-content: right;

}

.carousel-control-prev {
  justify-content: left;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  position:absolute;
  bottom:1rem;

}

.carousel-control-next-icon{
  right:1rem;
}

.carousel-caption {
 
  position:fixed;
  left: 3rem;
  right:3rem;
  bottom:0;
  color: black;
  text-align: center;
  height:4rem;
}

footer {
  transition: opacity .5s ease-in 1s, top .1s ease;
  padding: 2rem;
  margin-top: 2rem;
}
