@import url(font.css);

body{
    background-color: white;
    
}

.photobox{ 
   
  position:relative;
    width: 95%;
    max-width: 1500px;
    margin: auto;
    xaspect-ratio: 1/1;
    height:95vw;
   max-height:1500px;
}

.photobox img{
    position: absolute;
    transition: all 1s;
    border: .3rem solid white;
}
.photobox img:hover{
    z-index:1;
    transform: scale(1.2);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    
}

.outerbox{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
   

}
.page-title {
    position: absolute;
    top:1rem;
    left:0;
    width:100%;
    text-align: center;
    z-index:100;
 
    pointer-events: none;
}

.bovvers {
    overflow-y: scroll;
   
}
.bovvers::-webkit-scrollbar{
    display: none;
}

.bovves {
    -ms-overflow-style: none;
    scrollbar-width:none;
}

.slidebox {
  max-width:100%;
  max-height:100%;
  object-fit:contain;
  display:block;
}

.carousel {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 200;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  bottom: 0;
  align-items: end;
  padding: 1rem;
}

.carousel-control-next {
  justify-content: right;

}

.carousel-control-prev {
  justify-content: left;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  position:absolute;
  bottom:1rem;

}

.carousel-control-next-icon{
  right:1rem;
}